@{

    //Convert viewbag to type of list models.image
    var imageList = ViewBag.ImageList as List<Fastigheterse.Models.Image>;

}


<div class="text-end">
    <h6>
        <a class="btn btn-primary" asp-controller="Images" asp-action="Create" asp-route-propertyId="@ViewContext.RouteData.Values["id"]">Add Images</a>
    </h6>
</div>

@if (imageList != null && imageList.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>URL</th>
                <th>Property</th>
                <th>Details</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var img in imageList)
            {
                <tr>
                    <td><img src="@Url.Content($"~/{img.Url}")" alt="Alternate Text" style="width: 70px; height: 70px" /></td>
                    <td>@img.Url</td>
                    <td>@img.Property.Title</td>
                    <td><a asp-controller="Images" asp-action="Details" asp-route-id="@img.Id">Details</a></td>
                    <td>
                        <form asp-controller="Images" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@img.Id" />
                            @* added confirmation popup *@
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this image?');" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>No images available.</div>
}
